@import "tailwindcss";


body {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --color-background: #e1efe6;
  --color-surface: #f7fbf8;
  --color-accent: #c9a94a;
  --color-primary: #160c28;
  --color-secondary: #6e7975;
}